@font-face {
    font-family: 'Alagard';
    src: url('fonts/alagard.ttf') format('truetype');
  }

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #000000;   
    color: #eee;
    margin: 0;
    padding: 0;
}
  
/* Use Alagard for headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alagard', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}